@import url("./scrollbar.css");
/* Main */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* MainInterface */
.m0 {
  background-color: #03DAC6 !important;
  color: black !important;
  border-top: 4px solid #03DAC6;
  border-bottom: 4px solid #03DAC6;
}

.m0.m1 {
  border-top: 4px solid #03DAC6;
  border-bottom: 4px solid #03DAC6;
}

.m0.m1.m2 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #03DAC6;
}

.m0.m1.m3 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #03DAC6;
}

.m0.m1.m4 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #03DAC6;
}

.m0.m1.m5 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #03DAC6;
}

.m0.m1.m6 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #03DAC6;
}

.m0.m1.m7 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #03DAC6;
}

.m0.m2 {
  border-top: 4px solid #03DAC6;
  border-bottom: 4px solid #03DAC6;
}

.m0.m2.m3 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #03DAC6;
}

.m0.m2.m4 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #03DAC6;
}

.m0.m2.m5 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #03DAC6;
}

.m0.m2.m6 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #03DAC6;
}

.m0.m2.m7 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #03DAC6;
}

.m0.m3 {
  border-top: 4px solid #03DAC6;
  border-bottom: 4px solid #03DAC6;
}

.m0.m3.m4 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #03DAC6;
}

.m0.m3.m5 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #03DAC6;
}

.m0.m3.m6 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #03DAC6;
}

.m0.m3.m7 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #03DAC6;
}

.m0.m4 {
  border-top: 4px solid #03DAC6;
  border-bottom: 4px solid #03DAC6;
}

.m0.m4.m5 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #03DAC6;
}

.m0.m4.m6 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #03DAC6;
}

.m0.m4.m7 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #03DAC6;
}

.m0.m5 {
  border-top: 4px solid #03DAC6;
  border-bottom: 4px solid #03DAC6;
}

.m0.m5.m6 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #03DAC6;
}

.m0.m5.m7 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #03DAC6;
}

.m0.m6 {
  border-top: 4px solid #03DAC6;
  border-bottom: 4px solid #03DAC6;
}

.m0.m6.m7 {
  border-top: 4px solid #a6ff22;
  border-bottom: 4px solid #03DAC6;
}

.m0.m7 {
  border-top: 4px solid #03DAC6;
  border-bottom: 4px solid #03DAC6;
}

.cm-m0 {
  color: #03DAC6 !important;
}

.m1 {
  background-color: #FCE938 !important;
  color: black !important;
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #FCE938;
}

.m1.m2 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #FCE938;
}

.m1.m2.m3 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #FCE938;
}

.m1.m2.m4 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #FCE938;
}

.m1.m2.m5 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #FCE938;
}

.m1.m2.m6 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #FCE938;
}

.m1.m2.m7 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #FCE938;
}

.m1.m3 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #FCE938;
}

.m1.m3.m4 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #FCE938;
}

.m1.m3.m5 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #FCE938;
}

.m1.m3.m6 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #FCE938;
}

.m1.m3.m7 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #FCE938;
}

.m1.m4 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #FCE938;
}

.m1.m4.m5 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #FCE938;
}

.m1.m4.m6 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #FCE938;
}

.m1.m4.m7 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #FCE938;
}

.m1.m5 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #FCE938;
}

.m1.m5.m6 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #FCE938;
}

.m1.m5.m7 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #FCE938;
}

.m1.m6 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #FCE938;
}

.m1.m6.m7 {
  border-top: 4px solid #a6ff22;
  border-bottom: 4px solid #FCE938;
}

.m1.m7 {
  border-top: 4px solid #FCE938;
  border-bottom: 4px solid #FCE938;
}

.cm-m1 {
  color: #FCE938 !important;
}

.m2 {
  background-color: #ff707e !important;
  color: black !important;
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #ff707e;
}

.m2.m3 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #ff707e;
}

.m2.m3.m4 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #ff707e;
}

.m2.m3.m5 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #ff707e;
}

.m2.m3.m6 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #ff707e;
}

.m2.m3.m7 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #ff707e;
}

.m2.m4 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #ff707e;
}

.m2.m4.m5 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #ff707e;
}

.m2.m4.m6 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #ff707e;
}

.m2.m4.m7 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #ff707e;
}

.m2.m5 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #ff707e;
}

.m2.m5.m6 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #ff707e;
}

.m2.m5.m7 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #ff707e;
}

.m2.m6 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #ff707e;
}

.m2.m6.m7 {
  border-top: 4px solid #a6ff22;
  border-bottom: 4px solid #ff707e;
}

.m2.m7 {
  border-top: 4px solid #ff707e;
  border-bottom: 4px solid #ff707e;
}

.cm-m2 {
  color: #ff707e !important;
}

.m3 {
  background-color: #a59eff !important;
  color: black !important;
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #a59eff;
}

.m3.m4 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #a59eff;
}

.m3.m4.m5 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #a59eff;
}

.m3.m4.m6 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #a59eff;
}

.m3.m4.m7 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #a59eff;
}

.m3.m5 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #a59eff;
}

.m3.m5.m6 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #a59eff;
}

.m3.m5.m7 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #a59eff;
}

.m3.m6 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #a59eff;
}

.m3.m6.m7 {
  border-top: 4px solid #a6ff22;
  border-bottom: 4px solid #a59eff;
}

.m3.m7 {
  border-top: 4px solid #a59eff;
  border-bottom: 4px solid #a59eff;
}

.cm-m3 {
  color: #a59eff !important;
}

.m4 {
  background-color: #20BA56 !important;
  color: black !important;
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #20BA56;
}

.m4.m5 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #20BA56;
}

.m4.m5.m6 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #20BA56;
}

.m4.m5.m7 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #20BA56;
}

.m4.m6 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #20BA56;
}

.m4.m6.m7 {
  border-top: 4px solid #a6ff22;
  border-bottom: 4px solid #20BA56;
}

.m4.m7 {
  border-top: 4px solid #20BA56;
  border-bottom: 4px solid #20BA56;
}

.cm-m4 {
  color: #20BA56 !important;
}

.m5 {
  background-color: #f5a0ff !important;
  color: black !important;
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #f5a0ff;
}

.m5.m6 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #f5a0ff;
}

.m5.m6.m7 {
  border-top: 4px solid #a6ff22;
  border-bottom: 4px solid #f5a0ff;
}

.m5.m7 {
  border-top: 4px solid #f5a0ff;
  border-bottom: 4px solid #f5a0ff;
}

.cm-m5 {
  color: #f5a0ff !important;
}

.m6 {
  background-color: #a6ff22 !important;
  color: black !important;
  border-top: 4px solid #a6ff22;
  border-bottom: 4px solid #a6ff22;
}

.m6.m7 {
  border-top: 4px solid #a6ff22;
  border-bottom: 4px solid #a6ff22;
}

.cm-m6 {
  color: #a6ff22 !important;
}

.m7 {
  background-color: #7f34f0 !important;
  color: black !important;
  border-top: 4px solid #7f34f0;
  border-bottom: 4px solid #7f34f0;
}

.cm-m7 {
  color: #7f34f0 !important;
}

.svgIcon {
  width: 24px;
  height: 24px;
}

.invisible {
  display: none;
}

.CodeMirror {
  font-family: 'Roboto Mono', monospace;
}

.CodeMirror-scrollbar-filler {
  background-color: #212121 !important;
}

.CodeMirror pre.CodeMirror-placeholder {
  color: #545454;
}

.mainContainer {
  padding: 96px 0;
}

.backdrop {
  z-index: 6000 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.backdrop .loading {
  margin-top: 1rem;
}

.mainPaper {
  overflow: hidden;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
}

.mainPaper .CodeMirror {
  font-size: 14px;
}

.mainPaper .sectionTitle {
  padding: 1rem 1rem 0rem 1rem;
  font-size: 12px;
  color: #868686;
}

.mainPaper .queryContainer {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.mainPaper .queryContainer #queryEditor {
  padding-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.mainPaper .queryContainer #queryEditor .CodeMirror {
  height: auto;
  padding: .5rem 0;
}

.mainPaper .queryContainer .queryButton {
  padding: .5rem 2.5rem;
  border-radius: 0;
}

.mainPaper #textEditor {
  height: 250px;
}

.mainPaper #textEditor .CodeMirror {
  height: 250px;
  padding: .5rem 1rem;
}

.mainPaper .headContainer {
  padding: 0 1rem;
}

.mainPaper .headContainer .matchesRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPaper .headContainer .matchesRow .matchesIdx {
  color: #545454;
  width: 3rem;
}

.mainPaper .headContainer .matchesRow .matchesItem {
  padding: .5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mainPaper .matchesContainer {
  padding: 0 1rem;
  height: 250px;
  overflow-y: auto;
}

.mainPaper .matchesContainer .matchesRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPaper .matchesContainer .matchesRow:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.mainPaper .matchesContainer .matchesRow:hover .matchesIdx {
  color: #212121;
}

.mainPaper .matchesContainer .matchesRow .matchesIdx {
  color: #545454;
  width: 3rem;
}

.mainPaper .matchesContainer .matchesRow .matchesItem {
  padding: 0 .5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mainPaper .paginationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.mainPaper .fullButton {
  border-radius: 0;
  width: 100%;
  padding: 1rem;
}

/* NavBar */
.appBar {
  background-color: #212121 !important;
}

.appBar .logo {
  display: block;
  height: 36px;
}

.appBar .logo:hover {
  -webkit-filter: drop-shadow(0 0 2px #03DAC6);
          filter: drop-shadow(0 0 2px #03DAC6);
}

.appBar .button {
  text-decoration: none;
  color: #03DAC6;
  margin-left: 1rem;
}

/* LiteViewer */
.viewerPaper {
  width: 90%;
  margin: 1rem auto;
  font-size: 14px;
  overflow: hidden;
}

.viewerPaper .CodeMirror {
  font-size: 14px;
  text-align: justify;
}

.viewerPaper .textEditor {
  height: 260px;
}

.viewerPaper .textEditor .CodeMirror {
  height: 260px;
  padding: 1rem;
}

.viewerPaper .queryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.viewerPaper .queryContainer .button {
  border-radius: 0;
  padding: 0 1rem;
}

.viewerPaper .queryContainer .queryEditor {
  padding-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.viewerPaper .queryContainer .queryEditor.centered {
  padding-left: 0;
}

.viewerPaper .queryContainer .queryEditor.centered .CodeMirror {
  text-align: center;
}

.viewerPaper .queryContainer .queryEditor .CodeMirror {
  height: auto;
  padding: .5rem 0;
}

.viewerPaper .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.viewerPaper .buttonContainer .button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0;
  padding: .75rem 0;
}

.viewerPaper .matchesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  font-family: 'Roboto mono', monospace;
}

.viewerPaper .matchesContainer .matches {
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  font-size: 12px;
}

.viewerPaper .matchesContainer .matches .matchesRow {
  padding: .2rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.viewerPaper .matchesContainer .matches .matchesRow:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.viewerPaper .matchesContainer .matches .matchesRow .matchesItem {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* asdasdsad*/
.paperLite {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 14px;
  width: 90%;
  margin: 2rem auto;
}

.paperLite .CodeMirror {
  font-size: 14px;
  text-align: justify;
}

.paperLite .liteTab {
  text-transform: none;
  font-family: 'Roboto Mono', monospace;
}

.paperLite .queryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
}

.paperLite .queryContainer #queryEditor {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.paperLite .queryContainer #queryEditor .CodeMirror {
  height: auto;
  padding: .5rem 0;
}

.paperLite .textEditor {
  height: 250px;
}

.paperLite .textEditor .CodeMirror {
  height: 250px;
  padding: .5rem 1rem;
}

.paperLite .matches {
  padding: 1rem;
  height: 150px;
  overflow-y: auto;
}

.paperLite .matches .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.paperLite .matches .list {
  width: 100%;
  table-layout: fixed;
  font-family: monospace;
}

.paperLite .matches .list .matchesRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paperLite .matches .list .matchesRow .matchesItem {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sectionContainer {
  padding: .5rem 0;
}

.sectionContainer p {
  margin-top: .25rem;
}

.important {
  background-color: red;
  color: white;
}

.code {
  font-family: 'Roboto Mono', monospace;
  background-color: #212121;
  padding: 0 .2rem;
}

.codeBlock {
  font-family: 'Roboto Mono', monospace;
  text-align: justify;
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
}

.codeBlock.centered {
  text-align: center;
}
/*# sourceMappingURL=App.css.map */