@import url("./scrollbar.css");

/* Main */
html {
  font-size: 16px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  line-height: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

$dark: #868686;
$darker: #545454;
$darkest: #212121;

/* MainInterface */
$colors: #03dac6, #fce938, #ff5c6c, #13f863, #f18aff, #ffb351, #bc8fff, #a57559;

.reql-variable {
  color: nth($colors, 1);
}
.reql-operator {
  color: nth($colors, 2);
}
.reql-escape {
  color: nth($colors, 3);
}
.reql-braces {
  color: nth($colors, 7);
}
.reql-numeric-quantifier {
  color: nth($colors, 6);
}
.reql-anchor {
  color: nth($colors, 4);
}

// Add padding if match has a child match
.cm-match {
  display: inline-block;
  color: black !important;
  &:has(.cm-match) {
    padding: 2px 0 2px 0;
  }
}

@for $i from 0 to length($colors) {
  .cm-match-#{$i} {
    background: nth($colors, $i + 1);
  }
}

a {
  text-decoration: none;
}

.MuiDataGrid-root {
  border: none !important;
  font-family: "Roboto Mono", monospace !important;

  .MuiDataGrid-cell {
    &:focus-within {
      outline: none !important;
    }
  }

  .MuiDataGrid-columnHeader {
    &:focus-within {
      outline: none !important;
    }
  }

  :not(.MuiDataGrid-index-column) > .MuiDataGrid-cellContent {
    border-left: 1px dotted $dark;
    border-right: 1px dotted $dark;
    padding: 0 4px;
    white-space: pre;
  }

  .MuiDataGrid-row:hover {
    cursor: pointer;
  }

  .MuiDataGrid-index-column {
    color: $dark !important;
  }
}