@import url("./scrollbar.css");

/* Main */
html {
  font-size: 16px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  line-height: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

$dark: #909090;
$darker: #545454;
$darkest: #212121;

/* MainInterface */
$colors: #03dac6, #fce938, #ec4e20, #0aff2f, #c71585, #ffa500, #ffa1ff, #b47d3a,
  #417563, #1e90ff, #00fa9a, #aa2091, #f7f7ff, #637e93, #f7af9d, #424c55;

.reql-variable {
  color: darken(nth($colors, 1), 10%);
  font-weight: bold;
}
.reql-operator {
  font-weight: bold;
  color: darken(nth($colors, 6), 10%);
}
.reql-escape {
  font-weight: bold;
  color: nth($colors, 3);
}
.reql-braces {
  font-weight: bold;
  color: darken(nth($colors, 7), 10%);
}
.reql-numeric-quantifier {
  font-weight: bold;
  color: nth($colors, 5);
}
.reql-anchor {
  font-weight: bold;
  color: darken(nth($colors, 4), 25%);
}

// Add padding if match has a child match
.cm-match {
  display: inline-block;
  color: black !important;
  &:has(.cm-match) {
    padding: 4px 0 4px 0;
  }
}

.match-table-cell-variable {
  text-underline-offset: 4px;
  text-decoration: underline 4px;
}

.match-table-cell-span {
  white-space: nowrap;
}

.match-table-cell-group {
  white-space: break-spaces;
  word-break: break-word;
  overflow-wrap: break-word;
}

.match-table-char {
  &.match-table-newline {
    &::before {
      position: absolute;
      content: "↵";
      color: $dark;
    }
  }
  &.match-table-space {
    &::before {
      position: absolute;
      content: "•";
      color: $dark;
    }
  }
}

@for $i from 0 to length($colors) {
  .cm-match-#{$i} {
    background: nth($colors, $i + 1);
  }

  .match-table-cell-variable-#{$i} {
    text-decoration-color: nth($colors, $i + 1);
  }
}

a {
  text-decoration: none;
}

.MuiDataGrid-root {
  border: none !important;
  font-family: "Roboto Mono", monospace !important;

  .MuiDataGrid-cell {
    &:focus-within {
      outline: none !important;
    }
  }

  .MuiDataGrid-columnHeader {
    &:focus-within {
      outline: none !important;
    }
  }

  :not(.MuiDataGrid-index-column) > .MuiDataGrid-cellContent {
    border-left: 1px dotted $dark;
    border-right: 1px dotted $dark;
    padding: 0 4px;
    white-space: pre;
  }

  .MuiDataGrid-row:hover {
    cursor: pointer;
  }

  .MuiDataGrid-index-column {
    color: $dark !important;
  }
}

.cm-reql-query-editor {
  .cm-editor {
    padding: 4px;
  }
}